fastapi
uvicorn[standard]
SQLAlchemy
asyncpg
alembic
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
bcrypt
loguru
pytest
pytest-asyncio
httpx
email-validator
python-multipart
openai
redis
app-store-server-library>=3.1.2
