<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
        <!-- Bundle ID 保持不变 -->
        <key>com.xiaoerlcx.app</key>
        <!-- UUID 保留你现有的不用改 -->
        <string>3909e4ef-69b9-473b-b6ef-df648d266ade</string>
    </dict>
    <key>signingCertificate</key>
    <string>Apple Development</string>
</dict>
</plist>
